.error404 {
  background-color: #b3dee3; }
  .error404 header, .error404 .nav-primary, .error404 .nav-secondary {
    display: none; }
  .error404 body, .error404 .site-inner {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    height: 100%;
    width: 100%; }
  .error404 #background {
    background: #51a1cd;
    top: 40%;
    height: 60%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute; }
    .error404 #background img {
      position: relative;
      margin: -252px 0 0 -300px;
      left: 50%; }
  .error404 #text {
    width: 500px;
    position: relative;
    z-index: 10;
    padding: 5px 25px;
    color: #333333;
    font-family: sans-serif; }
    .error404 #text a {
      font-weight: bold;
      color: #dd2f28; }
      .error404 #text a:hover {
        color: #981712; }
