@font-face {
  font-family: "proximanova-bold";
  src: url("assets/fonts/proximanova-bold-webfont.eot");
  src: url("assets/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/proximanova-bold-webfont.woff") format("woff"), url("assets/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("assets/fonts/proximanova-bold-webfont.svg#ProximaNovaRgBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "proximanova-regular";
  src: url("assets/fonts/proximanova-regular-webfont.eot");
  src: url("assets/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/proximanova-regular-webfont.woff") format("woff"), url("assets/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("assets/fonts/proximanova-regular-webfont.svg#ProximaNovaRgRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "proximanova-light-bold";
  src: url("assets/fonts/proximanova-semibold-webfont.eot");
  src: url("assets/fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/proximanova-semibold-webfont.woff") format("woff"), url("assets/fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("assets/fonts/proximanova-semibold-webfont.svg#ProximaNovaLtBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icons";
  src: url("assets/fonts/icons.eot?-6b7iwg");
  src: url("assets/fonts/icons.eot?#iefix-6b7iwg") format("embedded-opentype"), url("assets/fonts/icons.woff?-6b7iwg") format("woff"), url("assets/fonts/icons.ttf?-6b7iwg") format("truetype"), url("assets/fonts/icons.svg?-6b7iwg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 22px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelope-o:before {
  content: "\f003"; }

.icon-gear:before {
  content: "\f013"; }

.icon-trash-o:before {
  content: "\f014"; }

.icon-times-circle-o:before {
  content: "\f05c"; }

.icon-bell:before {
  content: "\f0a2"; }

.icon-flask:before {
  content: "\f0c3"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-down:before {
  content: "\f107"; }
