body.email-marketing-guide .site-inner {
  padding-top: 0 !important; }
body.email-marketing-guide .clear {
  clear: both; }
body.email-marketing-guide #guide-title {
  min-height: 279px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 43px;
  padding-top: 75px;
  text-align: center;
  color: white !important;
  background-size: 100% !important;
  margin-bottom: 10px;
  margin-top: 10px; }
  body.email-marketing-guide #guide-title h1 {
    width: 370px;
    font-weight: bold;
    margin: 0 auto; }
body.email-marketing-guide .toc-chapter.title {
  border-top: 0px; }
body.email-marketing-guide .entry p.small-image {
  margin-top: 50px; }
  body.email-marketing-guide .entry p.small-image img.right {
    float: right;
    width: auto;
    margin-top: -30px; }
  body.email-marketing-guide .entry p.small-image img.left {
    float: left;
    width: auto;
    margin-top: -30px; }
body.email-marketing-guide .entry .simple-button {
  height: auto; }
body.email-marketing-guide .title h1 {
  line-height: 1em;
  font-size: 36px; }
body.email-marketing-guide .entry .button {
  margin-left: 0; }
  body.email-marketing-guide .entry .button a.btn {
    height: auto; }
