* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px; }
  .pagination ul {
    font-size: 0;
    margin-bottom: 0; }
    .pagination ul li {
      display: inline;
      border: 1px solid #dddddd;
      border-right: 0;
      padding: 6px 12px !important;
      font-size: 16px; }
      .pagination ul li:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .pagination ul li:last-child {
        border-right: 1px solid #dddddd;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .pagination ul li.active {
        background: whitesmoke; }

.blank {
  text-align: center; }
  .blank:hover {
    background: transparent; }
  .blank > td {
    padding: 60px 0; }
    .blank > td h3 {
      margin-bottom: 16px;
      color: #818e93; }
    .blank > td .btn {
      margin-top: 16px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #222222;
  background-color: white;
  min-width: 1024px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.nav-primary, .nav-secondary {
  background: #38454a;
  height: 65px; }
  .nav-primary #logo img, .nav-secondary #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .nav-primary li, .nav-secondary li {
    line-height: 65px;
    padding: 0 10px;
    display: inline-block; }
  .nav-primary a, .nav-secondary a {
    line-height: 65px;
    color: #818e93;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .nav-primary a:hover, .nav-secondary a:hover {
      color: #d3d8da;
      text-decoration: none; }
    .nav-primary a.btn, .nav-primary a[title="button"], .nav-secondary a.btn, .nav-secondary a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .nav-primary a[title="logo"] img, .nav-secondary a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }

.nav-primary li:first-child {
  padding-left: 0 !important; }

.nav-secondary li:last-child {
  padding-right: 0 !important; }

.blue-nav-menu {
  background: #00c3e4;
  height: 60px;
  width: 50%;
  display: inline-block; }
  .blue-nav-menu #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .blue-nav-menu li {
    line-height: 60px;
    padding: 0 10px;
    display: inline-block; }
  .blue-nav-menu a {
    line-height: 60px;
    color: white;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .blue-nav-menu a:hover {
      opacity: 0.8;
      text-decoration: none; }
    .blue-nav-menu a.btn, .blue-nav-menu a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .blue-nav-menu a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }
  .blue-nav-menu ul {
    width: 544px;
    text-align: left;
    float: right; }
  .blue-nav-menu .current-menu-item a {
    color: #008298; }
  .blue-nav-menu .menu {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .blue-nav-menu .menu:before, .blue-nav-menu .menu:after {
      content: " ";
      display: table; }
    .blue-nav-menu .menu:after {
      clear: both; }
    .blue-nav-menu .menu li:first-child {
      padding-left: 0 !important; }

.search-bar {
  background: #00c3e4;
  line-height: 60px;
  height: 60px;
  width: 50%;
  display: inline-block;
  text-align: right; }
  .search-bar aside {
    vertical-align: middle;
    float: left;
    width: 540px;
    background: none;
    margin-bottom: 0; }
    .search-bar aside .widget {
      background: none;
      margin-bottom: 0;
      padding: 0 !important;
      padding: 0 !important; }
      .search-bar aside .widget form {
        width: 300px;
        display: inline-block; }

#cta {
  padding: 80px 0;
  background: #00c3e4;
  margin-bottom: 0;
  margin-top: 80px; }
  #cta h3 {
    padding: 0 0 30px;
    color: white; }

footer {
  padding: 80px 0 80px 0; }
  footer div.menu-vero_footer_second-container, footer div.menu-vero_footer-container {
    display: inline-block;
    vertical-align: top;
    float: right; }
    footer div.menu-vero_footer_second-container li, footer div.menu-vero_footer-container li {
      margin: 0 0 10px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_second-container li.no-hover, footer div.menu-vero_footer-container li.no-hover {
        font-weight: 500;
        text-transform: uppercase; }
  footer div.menu-vero_footer_second-container {
    padding-right: 80px; }
  footer div.menu-vero_footer_third-container {
    float: none;
    display: block;
    vertical-align: top; }
    footer div.menu-vero_footer_third-container ul li {
      display: inline-block;
      padding: 0px 10px 0px 0px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_third-container ul li:first-child {
        margin: 0 0 10px;
        display: block; }
  footer > div ul li.no-hover a {
    font-weight: 500;
    text-transform: uppercase; }
  footer ul.pull-left {
    padding-right: 36px; }
    footer ul.pull-left li {
      padding: 1px 0; }
  footer ul:first-child {
    padding-left: 0 !important; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

label {
  cursor: pointer;
  display: block; }

a {
  color: #00c3e4;
  text-decoration: none; }
  a:hover, a:focus {
    color: #008298;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11px;
  margin-bottom: 11px; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 27px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 13px; }

p {
  margin: 0 0 11px; }
  p span, p time {
    text-transform: uppercase;
    color: #38454a;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5; }

.note {
  color: #555555; }

.highlight {
  padding: 30px 36px;
  margin-top: 30px;
  background: #fbf5dd; }
  .highlight p {
    opacity: 0.8; }
    .highlight p a {
      font-weight: bold;
      opacity: 1; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline, .pagination ul {
  padding-left: 0;
  list-style: none; }

.list-inline, .pagination ul {
  margin-left: -5px; }
  .list-inline > li, .pagination ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.success {
  color: #70a846;
  background: #dbebcf;
  border: 1px solid #bfe2a5;
  color: #70a846; }
  .success a {
    color: #588437; }
    .success a:hover {
      color: #4c7230; }
  .success .btn {
    color: white; }

.info {
  color: #4678b9;
  background: #dae4f1;
  border: 1px solid #b0c8e8;
  color: #4678b9; }
  .info a {
    color: #386094; }
    .info a:hover {
      color: #315481; }
  .info .btn {
    color: white; }

.warning {
  color: #e6bf26;
  background: #fbf5dd;
  border: 1px solid #faeaab;
  color: #e6bf26; }
  .warning a {
    color: #c2a017; }
    .warning a:hover {
      color: #ab8d14; }
  .warning .btn {
    color: white; }

.error {
  color: #b34747;
  background: #efd7d7;
  border: 1px solid #e6adad;
  color: #b34747; }
  .error a {
    color: #8e3939; }
    .error a:hover {
      color: #7c3232; }
  .error .btn {
    color: white; }

#lean_overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: black; }

#blog-popup {
  background: url("http://blog.getvero.com/wp-content/uploads/2014/06/congruent_pentagon.jpg");
  padding: 25px 25px 35px;
  width: 700px;
  border: 15px solid white; }
  #blog-popup h3 {
    font-weight: bold;
    text-align: center;
    color: #38454a; }
  #blog-popup h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px; }
  #blog-popup p {
    font-size: 20px;
    text-align: center;
    margin: 0 0 25px;
    color: white; }
  #blog-popup .button {
    color: #71d54d;
    background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2.png");
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    height: 62px;
    width: 430px !important;
    font-family: Arimo, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0px 5px 0px #d1e1e9;
    border: none;
    text-align: center !important;
    line-height: 40px;
    text-decoration: none;
    padding: 10px 40px 12px 0 !important; }
    #blog-popup .button:hover {
      background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2_hover.png");
      background-color: #71d54d;
      color: white !important; }
  #blog-popup form {
    text-align: center; }
    #blog-popup form input[type='email'] {
      width: 500px;
      clear: both;
      border: 1px solid #d1e1e9;
      padding: 30px 20px;
      border-radius: 3px;
      margin-bottom: 15px !important;
      box-shadow: none;
      font-size: 24px;
      width: 60%;
      display: inline-block; }
    #blog-popup form input[type="email"]:focus {
      outline: none;
      border: 1px solid #52a3cc; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.pull-left + .pull-left {
  margin-left: 10px; }

.pull-right + .pull-right {
  margin-right: 10px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.left-text {
  text-align: left; }

.inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .inner:before, .inner:after {
    content: " ";
    display: table; }
  .inner:after {
    clear: both; }

.hide, .hidden {
  display: none !important; }

.show {
  display: block !important; }

.visible {
  visibility: visible; }

.invisible, .hidden {
  visibility: hidden !important; }

.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  border: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.rotate-r90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

body.guides {
  font-family: "Arimo", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Droid Sans", sans-serif;
  background: #1c2125;
  /* TOC */
  /* Colours */
  /* ---- Blue ---- */
  /* ---- Green ---- */
  /* ---- Aqua ---- */
  /* ---- Orange ---- */
  /* ---- Purple ---- */
  /* ---- Red ---- */
  /* ---- Blue grey ---- */
  /*Custom css by OrangeMantra */ }
  body.guides #disqus_thread {
    background: white;
    padding: 50px 50px; }
  body.guides .header {
    padding-top: 30px;
    padding-bottom: 30px; }
  body.guides .section-header {
    position: relative;
    display: inline-block;
    width: 105px;
    margin-top: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    height: 100px;
    margin-left: -110px;
    vertical-align: top; }
  body.guides #dd_ajax_float {
    left: -240px !important; }
  body.guides #share-buttons {
    background: white;
    text-align: center; }
    body.guides #share-buttons a {
      background: url(../images/share-buttons.jpg);
      width: 220px !important;
      height: 43px !important;
      display: inline-block; }
      body.guides #share-buttons a:hover {
        opacity: 0.8; }
    body.guides #share-buttons .fb {
      background-position: -678px 0; }
    body.guides #share-buttons .google {
      background-position: -226px 0; }
    body.guides #share-buttons .linkedin {
      background-position: -452px 0; }
  body.guides .divider {
    border: none !important;
    width: auto !important; }
  body.guides .parent .entry p img {
    width: auto !important;
    margin-top: -50px; }
    body.guides .parent .entry p img.right {
      margin-right: -30px;
      padding-left: 25px; }
    body.guides .parent .entry p img.left {
      margin-left: -30px;
      padding-right: 25px; }
  body.guides .title {
    padding: 0 auto;
    width: 960px;
    height: 135px;
    border-top: 30px;
    border-left: 30px;
    border-right: 30px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    text-align: left; }
    body.guides .title h1 {
      margin-top: 15px;
      margin-left: 50px;
      text-transform: uppercase;
      font-family: "Arimo", sans-serif;
      font-size: 40px;
      font-weight: normal;
      color: white;
      text-align: left;
      line-height: 0.8em;
      display: inline-block;
      font-weight: bold; }
      body.guides .title h1 span {
        font-size: 18px;
        font-weight: bold;
        display: block;
        margin-top: 0;
        padding-top: 0;
        line-height: 30px; }
    body.guides .title .number {
      margin-top: 28px;
      margin-left: 41px;
      font-family: "Arimo", sans-serif;
      text-align: left;
      margin-top: 0 !important;
      vertical-align: top;
      line-height: 105px !important;
      font-size: 40px !important;
      font-weight: bold;
      display: inline-block; }
  body.guides .icon {
    display: inline-block;
    padding: 0 20px 30px 0; }
  body.guides .entry {
    box-sizing: border-box;
    position: relative;
    padding: 50px 100px 0;
    border: 30px solid white;
    background: #e6f8ff; }
    body.guides .entry h3 {
      color: #66ccff;
      display: block;
      clear: both;
      padding-top: 15px;
      font-weight: bold; }
    body.guides .entry h4 {
      clear: both !important; }
    body.guides .entry h2 {
      font-family: Droid Sans, sans-serif;
      font-size: 34px;
      line-height: 1.5em;
      color: #333333;
      font-weight: normal;
      padding-top: 50px;
      display: inline-block;
      width: 550px;
      vertical-align: top; }
    body.guides .entry p {
      float: left;
      font-size: 18px;
      color: #333333;
      line-height: 1.7em;
      clear: both; }
    body.guides .entry blockquote {
      clear: both !important;
      background: url(/wp-content/themes/vero/assets/images/guides/blue/exclamation-mark.png) no-repeat 0px center;
      padding: 40px 0;
      border: none !important;
      margin: 0 0 0 -60px !important; }
      body.guides .entry blockquote p {
        float: none !important;
        border: none !important;
        background: #d2f1ff;
        color: #52a3cc;
        font-family: PT Sans;
        font-size: 15px;
        line-height: 1.7em;
        width: auto;
        padding-right: 30px;
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        margin-right: 30px;
        margin-top: 0;
        font-weight: bold; }
        body.guides .entry blockquote p b, body.guides .entry blockquote p strong {
          color: #076a9c !important; }
    body.guides .entry blockquote::before {
      content: "" !important; }
    body.guides .entry .quote {
      clear: both !important;
      background: url("http://blog.getvero.com/wp-content/uploads/2014/02/quotes.png") no-repeat 0px center;
      padding: 40px 0 40px 100px;
      margin-left: -80px;
      border: none !important; }
      body.guides .entry .quote .inner {
        float: none !important;
        border: none !important;
        background: #fff9bb;
        color: #424242;
        font-family: PT Sans;
        font-size: 15px;
        line-height: 1.7em;
        width: 605px;
        padding-right: 30px;
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-radius: 5px;
        margin-right: 30px;
        margin-top: 0;
        font-weight: bold; }
        body.guides .entry .quote .inner .text {
          min-height: 115px !important; }
      body.guides .entry .quote img {
        float: right;
        margin-left: 10px;
        width: 100px;
        border: 5px solid white !important;
        border-radius: 60px; }
      body.guides .entry .quote .who {
        display: inline-block;
        padding-right: 0;
        font-size: 14px;
        clear: both;
        text-align: left;
        padding-bottom: 15px;
        width: 400px;
        font-weight: normal;
        padding-top: 10px; }
      body.guides .entry .quote .name {
        display: inline-block; }
      body.guides .entry .quote a {
        font-weight: bold;
        color: #be692d; }
      body.guides .entry .quote .who iframe {
        vertical-align: top;
        margin-top: 2px;
        padding-right: 2px; }
    body.guides .entry ul, body.guides .entry ol {
      float: left;
      font-size: 18px;
      color: #333333;
      line-height: 1.7em;
      width: 740px;
      margin: 15px 0;
      padding: 0; }
    body.guides .entry ul li, body.guides .entry ol li {
      margin-top: 20px;
      width: 95%;
      padding-left: 20px;
      margin-left: 10px; }
    body.guides .entry ul li:first-child, body.guides .entry ol li:first-child {
      margin-top: 0px !important; }
    body.guides .entry .blurb {
      float: left;
      font-family: PT Sans, sans-serif;
      font-size: 15px;
      line-height: 1.7em;
      padding-bottom: 15px; }
    body.guides .entry .screens, body.guides .entry p img {
      width: 100%;
      height: auto !important;
      box-sizing: border-box;
      padding: 5px; }
  body.guides .entry .button {
    text-align: center;
    padding-bottom: 50px;
    display: block;
    clear: both;
    background: #d2f1ff;
    padding: 25px 100px 50px;
    width: 1030px;
    margin-left: -100px !important;
    margin-top: 60px; }
    body.guides .entry .button h2, body.guides .entry .button p {
      text-align: center;
      width: 100%; }
    body.guides .entry .button a.btn {
      margin-top: 80px;
      cursor: pointer;
      display: inline-block;
      height: 62px;
      width: 430px !important;
      font-family: Arimo, sans-serif;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: white;
      box-shadow: 0px 5px 0px #d1e1e9;
      border: none;
      text-align: center !important;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      padding: 10px 0 !important; }
  body.guides .entry .simple-button {
    margin-top: 80px;
    cursor: pointer;
    display: inline-block;
    height: 62px;
    width: 430px !important;
    font-family: Arimo, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0px 5px 0px #d1e1e9;
    border: none;
    text-align: center !important;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    padding: 10px 0 !important;
    margin-top: 0 !important;
    margin-bottom: 50px !important;
    color: #71d54d !important;
    font-size: 22px !important; }
  body.guides .entry .button a.btn:hover, body.guides .entry .simple-button:hover {
    color: white !important; }
  body.guides .entry a {
    text-decoration: underline; }
    body.guides .entry a:hover {
      text-decoration: none; }
  body.guides .entry #chapters {
    display: block;
    text-align: center;
    min-height: 400px;
    padding-top: 25px; }
    body.guides .entry #chapters h5 {
      text-align: center;
      padding-bottom: 15px; }
    body.guides .entry #chapters ul {
      display: block;
      text-align: center;
      width: 700px; }
    body.guides .entry #chapters a:hover {
      opacity: 0.8; }
    body.guides .entry #chapters li {
      width: 140px;
      height: 100px;
      display: inline-block;
      background: #e6f8ff;
      padding: 0;
      text-align: center;
      padding: 0 15px;
      margin: 0 0 15px;
      border-radius: 5px;
      min-height: 126px; }
      body.guides .entry #chapters li span {
        border-radius-top-left: 5px;
        border-radius-top-right: 5px;
        width: 100%;
        text-align: center;
        background: #66ccff;
        display: block;
        color: white;
        font-weight: bold;
        padding: 0 15px;
        margin-left: -15px; }
      body.guides .entry #chapters li p {
        text-align: center;
        width: 100%;
        padding-top: 10px; }
      body.guides .entry #chapters li.blue {
        background: #beedff; }
        body.guides .entry #chapters li.blue span {
          background: #66ccff; }
      body.guides .entry #chapters li.green {
        background: #dbf9ce; }
        body.guides .entry #chapters li.green span {
          background: #71d54d; }
      body.guides .entry #chapters li.aqua {
        background: #cffaf1; }
        body.guides .entry #chapters li.aqua span {
          background: #52ddb5; }
      body.guides .entry #chapters li.orange {
        background: #ffdb95; }
        body.guides .entry #chapters li.orange span {
          background: #ffbc47; }
      body.guides .entry #chapters li.purple {
        background: #eed5f9; }
        body.guides .entry #chapters li.purple span {
          background: #b87cd7; }
      body.guides .entry #chapters li.red {
        background: #ffddce; }
        body.guides .entry #chapters li.red span {
          background: #ff9249; }
      body.guides .entry #chapters li.blue-grey {
        background: #d6e3f9; }
        body.guides .entry #chapters li.blue-grey span {
          background: #7ea2d8; }
  body.guides #full-footer {
    background: transparent;
    min-height: 120px !important; }
    body.guides #full-footer ul {
      width: 100%; }
    body.guides #full-footer .copyright {
      width: 100%;
      text-align: center !important;
      margin-top: 0 !important; }
    body.guides #full-footer .cta {
      display: none; }
  body.guides .toc-chapter {
    padding: 0 auto;
    width: 100%;
    height: 105px;
    border-right: 0;
    border-left: 0;
    clear: both;
    border-bottom: 0px;
    width: 900px;
    margin: 40px -35px 50px -35px;
    border-top: 0 !important; }
    body.guides .toc-chapter .number {
      vertical-align: top;
      width: auto; }
    body.guides .toc-chapter a {
      display: block;
      text-decoration: none;
      height: 100%; }
  body.guides.toc img.left {
    margin-right: 20px; }
  body.guides.toc a.simple-button {
    margin-top: 20px !important; }
  body.guides.blue .entry-content {
    background-color: #e6f8ff; }
    body.guides.blue .entry-content .section-header {
      color: #66ccff; }
  body.guides.blue .title {
    background-color: #66ccff;
    background-image: url("/wp-content/themes/vero/assets/images/guides/h1.png"); }
    body.guides.blue .title h1 span {
      color: #52a3cc; }
  body.guides.blue .entry-content a {
    color: #00aaff; }
  body.guides.blue .entry-content .blurb {
    color: #52a3cc; }
  body.guides.blue .entry-content .screens {
    border-color: #a5e1ff; }
  body.guides.blue .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/blue/list_marker.png); }
  body.guides .toc-chapter.blue {
    background-color: #66ccff;
    background-image: url("/wp-content/themes/vero/assets/images/guides/h1.png"); }
    body.guides .toc-chapter.blue .number {
      color: #66ccff; }
  body.guides ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/blue/list_marker.png); }
  body.guides.blue .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/blue/exclamation-mark.png) no-repeat 0px center; }
    body.guides.blue .entry-content blockquote p {
      background: #d2f1ff;
      color: #52a3cc; }
  body.guides.blue .entry-content .button {
    background: #d2f1ff; }
    body.guides.blue .entry-content .button h2 {
      color: #52a3cc; }
  body.guides.blue .entry-content blockquote p b {
    color: #076a9c !important; }
  body.guides .entry-content blockquote p strong {
    color: #076a9c !important; }
  body.guides.blue .entry-content .screens {
    border: 3px solid #a5e1ff; }
  body.guides.blue .title .number {
    color: #66ccff !important; }
  body.guides.blue .entry-content .button a.btn {
    color: #71d54d;
    background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_2.png"); }
  body.guides .entry-content .simple-button {
    color: #71d54d;
    background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_2.png"); }
  body.guides.blue .entry-content .button a.btn:hover, body.guides .entry-content .simple-button:hover {
    background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_2_hover.png");
    background-color: #71d54d; }
  body.guides.green .entry-content {
    background-color: #eeffe5; }
    body.guides.green .entry-content .section-header {
      color: #71d54d; }
  body.guides.green .title {
    background-color: #71d54d;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/2_green_h1.png"); }
  body.guides .toc-chapter.green {
    background-color: #71d54d;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/2_green_h1.png"); }
    body.guides .toc-chapter.green .number {
      color: #71d54d !important; }
  body.guides.green .title h1 span, body.guides .toc-chapter.green h1 span {
    color: #49ab22; }
  body.guides.green .entry-content h2 {
    color: #333333; }
  body.guides.green .entry-content h3 {
    color: #71d54d; }
  body.guides.green .entry-content a {
    color: #00aaff; }
  body.guides.green .entry-content .blurb {
    color: #71d54d; }
  body.guides.green .entry-content ul, body.guides.green .entry-content ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/marks/2_green_bullet.png); }
  body.guides.green .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/marks/2_green_exclamation-mark.png) no-repeat 0px center; }
    body.guides.green .entry-content blockquote p {
      background: #dbf9ce;
      color: #49ab22; }
      body.guides.green .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.green .entry-content .screens, body.guides.green .entry-content p img {
    border: 3px solid #afea99; }
  body.guides.green .title .number, body.guides.green.title .number {
    color: #71d54d !important; }
  body.guides.green .entry-content .button {
    background: #dbf9ce; }
    body.guides.green .entry-content .button a.btn {
      color: #7ea2d8;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_3.png"); }
      body.guides.green .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_3_hover.png"); }
  body.guides.aqua .entry-content {
    background-color: #e5fffb; }
    body.guides.aqua .entry-content .section-header {
      color: #52ddb5; }
  body.guides.aqua .title {
    background-color: #52ddb5;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/5_aqua_h1.png"); }
  body.guides .toc-chapter.aqua {
    background-color: #52ddb5;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/5_aqua_h1.png"); }
    body.guides .toc-chapter.aqua .number {
      color: #52ddb5 !important; }
  body.guides.aqua .title h1 span, body.guides .toc-chapter.aqua h1 span {
    color: #29a57c; }
  body.guides.aqua .entry-content h2 {
    color: #333333; }
  body.guides.aqua .entry-content h3 {
    color: #52ddb5; }
  body.guides.aqua .entry-content a {
    color: #00aaff; }
  body.guides.aqua .entry-content .blurb {
    color: #52ddb5; }
  body.guides.aqua .entry-content .screens {
    border-color: #a5e1ff; }
  body.guides.aqua .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides.aqua .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/green/exclamation-mark.png) no-repeat 0px center; }
    body.guides.aqua .entry-content blockquote p {
      background: #cffaf1;
      color: #29a57c; }
      body.guides.aqua .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.aqua .entry-content .screens, body.guides.aqua .entry-content p img {
    border: 3px solid #a4f0dc; }
  body.guides.aqua .title .number, body.guides.aqua.title .number {
    color: #52ddb5 !important; }
  body.guides.aqua .entry-content .button {
    background: #cffaf1; }
    body.guides.aqua .entry-content .button a.btn {
      color: #b87cd7;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_5.png"); }
      body.guides.aqua .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_5_hover.png");
        background-color: #884aab; }
  body.guides.orange .entry-content {
    background-color: #fffbe5; }
    body.guides.orange .entry-content .section-header {
      color: #ffbc47; }
  body.guides.orange .title {
    background-color: #ffbc47;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/3_orange_h1.png"); }
  body.guides .toc-chapter.orange {
    background-color: #ffbc47;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/3_orange_h1.png"); }
    body.guides .toc-chapter.orange .number {
      color: #ffbc47 !important; }
  body.guides.orange .title h1 span, body.guides .toc-chapter.orange h1 span {
    color: #d09020; }
  body.guides.orange .entry-content h2 {
    color: #333333; }
  body.guides.orange .entry-content h3 {
    color: #ffbc47; }
  body.guides.orange .entry-content a {
    color: #00aaff; }
  body.guides.orange .entry-content .blurb {
    color: #ffbc47; }
  body.guides.orange .entry-content .screens {
    border-color: #a5e1ff; }
  body.guides.orange .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/marks/4_orange_bullet.png); }
  body.guides ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/marks/4_orange_bullet.png); }
  body.guides.orange .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/marks/4_orange_exclamation-mark.png) no-repeat 0px center; }
    body.guides.orange .entry-content blockquote p {
      background: #ffdb95;
      color: #d09020; }
      body.guides.orange .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.orange .entry-content .screens {
    border: 3px solid #ffdb96; }
  body.guides.orange .title .number, body.guides.orange.title .number {
    color: #ffbc47 !important; }
  body.guides.orange .entry-content .button {
    background: #ffdb95; }
    body.guides.orange .entry-content .button a.btn {
      color: #b87cd7;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_5.png"); }
      body.guides.orange .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_5_hover.png"); }
  body.guides.purple .entry-content {
    background-color: #f7e5ff; }
    body.guides.purple .entry-content .section-header {
      color: #b87cd7; }
  body.guides.purple .title {
    background-color: #b87cd7;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/4_purple_h1.png"); }
  body.guides .toc-chapter.purple {
    background-color: #b87cd7;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/4_purple_h1.png"); }
    body.guides .toc-chapter.purple .number {
      color: #b87cd7 !important; }
  body.guides.purple .title h1 span, body.guides .toc-chapter.purple h1 span {
    color: #884aab; }
  body.guides.purple .entry-content h2 {
    color: #333333; }
  body.guides.purple .entry-content h3 {
    color: #b87cd7; }
  body.guides.purple .entry-content a {
    color: #00aaff; }
  body.guides.purple .entry-content .blurb {
    color: #b87cd7; }
  body.guides.purple .entry-content .screens {
    border-color: #a5e1ff; }
  body.guides.purple .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides.purple .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/green/exclamation-mark.png) no-repeat 0px center; }
    body.guides.purple .entry-content blockquote p {
      background: #eed5f9;
      color: #874aab; }
      body.guides.purple .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.purple .entry-content .screens, body.guides.purple .entry-content p img {
    border: 3px solid #d7b0eb; }
  body.guides.purple .title .number, body.guides.purple.title .number {
    color: #b87cd7 !important; }
  body.guides.purple .entry-content .button {
    background: #eed5f9; }
    body.guides.purple .entry-content .button a.btn {
      color: #ff9249;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_7.png"); }
      body.guides.purple .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_7_hover.png"); }
  body.guides.red .entry-content {
    background-color: #ffeae5; }
    body.guides.red .entry-content .section-header {
      color: #ff9249; }
  body.guides.red .title {
    background-color: #ff9249;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/6_red_h1.png"); }
  body.guides .toc-chapter.red {
    background-color: #ff9249;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/6_red_h1.png"); }
    body.guides .toc-chapter.red .number {
      color: #ff9249 !important; }
  body.guides.red .title h1 span, body.guides .toc-chapter.red h1 span {
    color: #c86b2c; }
  body.guides.red .entry-content h2 {
    color: #333333; }
  body.guides.red .entry-content h3 {
    color: #ff9249; }
  body.guides.red .entry-content a {
    color: #00aaff; }
  body.guides.red .entry-content .blurb {
    color: #ff9249; }
  body.guides.red .entry-content .screens {
    border-color: #a5e1ff; }
  body.guides.red .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/green/list_marker.png); }
  body.guides.red .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/green/exclamation-mark.png) no-repeat 0px center; }
    body.guides.red .entry-content blockquote p {
      background: #ffddce;
      color: #c86b2c; }
      body.guides.red .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.red .entry-content .screens, body.guides.red .entry-content p img {
    border: 3px solid #ffbe97; }
  body.guides.red .title .number, body.guides.red.title .number {
    color: #ff9249 !important; }
  body.guides.red .entry-content .button {
    background: #ffddce; }
    body.guides.red .entry-content .button a.btn {
      color: #49b6ff;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_1.png"); }
      body.guides.red .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_1_hover.png"); }
  body.guides.blue-grey .entry-content {
    background-color: #e5eeff; }
    body.guides.blue-grey .entry-content .section-header {
      color: #6085bc; }
  body.guides.blue-grey .title {
    background-color: #7ea2d8;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/3_grey_blue_h1.png"); }
  body.guides .toc-chapter.blue-grey {
    background-color: #7ea2d8;
    background-image: url("/wp-content/themes/vero/assets/images/guides/headers/3_grey_blue_h1.png"); }
    body.guides .toc-chapter.blue-grey .number {
      color: #7ea2d8 !important; }
  body.guides.blue-grey .title h1 span, body.guides .toc-chapter.blue-grey h1 span {
    color: #6085bc; }
  body.guides.blue-grey .entry-content h2 {
    color: #5b5d60; }
  body.guides.blue-grey .entry-content h3 {
    color: #7e9bc9; }
  body.guides.blue-grey .entry-content a {
    color: #00aaff; }
  body.guides.blue-grey .entry-content .blurb {
    color: #7f9cc9; }
  body.guides.blue-grey .entry-content .screens, body.guides.blue-grey .entry-content p img {
    border-color: #cbdbf5; }
  body.guides.blue-grey .entry-content .screens, body.guides.blue-grey .entry-content p img {
    border: 3px solid #cbdbf5; }
  body.guides.blue-grey .entry-content ul {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/marks/3_grey_blue_bullet.png); }
  body.guides.blue-grey ol {
    list-style-image: url(/wp-content/themes/vero/assets/images/guides/marks/3_grey_blue_bullet.png); }
  body.guides.blue-grey .entry-content blockquote {
    background: url(/wp-content/themes/vero/assets/images/guides/marks/3_grey_blue_exclamation-mark.png) no-repeat 0px center; }
    body.guides.blue-grey .entry-content blockquote p {
      background: #d6e3f9;
      color: #7d9bc8; }
      body.guides.blue-grey .entry-content blockquote p b {
        color: #333333 !important; }
  body.guides .entry-content blockquote p strong {
    color: #333333 !important; }
  body.guides.blue-grey .title .number, body.guides.blue-grey.title .number {
    color: #7d9bc8 !important; }
  body.guides.blue-grey .entry-content .button {
    background: #d6e3f9; }
    body.guides.blue-grey .entry-content .button a.btn {
      color: #ffbc47;
      background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_4.png"); }
      body.guides.blue-grey .entry-content .button a.btn:hover {
        background-image: url("/wp-content/themes/vero/assets/images/guides/buttons/go_to_the_chapter_4_hover.png");
        background-color: #7ea2d8; }
  body.guides .socialIcons {
    width: 45px;
    height: 45px;
    background: url(http://getvero.staging.wpengine.com/wp-content/themes/vero-blog-theme/images/social-icons.png);
    float: left;
    margin: 8px; }
  body.guides .gPlusIcon, body.guides .fbIcon, body.guides .rssIcon {
    background-position: 65px 0; }

body.single-guides .entry p {
  float: none; }
body.single-guides .entry blockquote:before {
  left: auto;
  top: auto; }
body.single-guides .entry blockquote p {
  margin: 0 0 0 100px; }
body.single-guides .entry .quote .inner {
  width: auto; }
body.single-guides .entry .button a.btn {
  height: auto; }
body.single-guides .entry #chapters h5 {
  font-weight: bold; }
body.single-guides .entry #chapters ul {
  width: auto; }
  body.single-guides .entry #chapters ul li {
    width: 198px;
    padding: 0; }
    body.single-guides .entry #chapters ul li span {
      margin-left: 0; }
    body.single-guides .entry #chapters ul li p {
      padding: 10px 40px 0; }
