* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px; }
  .pagination ul {
    font-size: 0;
    margin-bottom: 0; }
    .pagination ul li {
      display: inline;
      border: 1px solid #dddddd;
      border-right: 0;
      padding: 6px 12px !important;
      font-size: 16px; }
      .pagination ul li:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .pagination ul li:last-child {
        border-right: 1px solid #dddddd;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .pagination ul li.active {
        background: whitesmoke; }

.blank {
  text-align: center; }
  .blank:hover {
    background: transparent; }
  .blank > td {
    padding: 60px 0; }
    .blank > td h3 {
      margin-bottom: 16px;
      color: #818e93; }
    .blank > td .btn {
      margin-top: 16px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #222222;
  background-color: white;
  min-width: 1024px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.nav-primary, .nav-secondary {
  background: #38454a;
  height: 65px; }
  .nav-primary #logo img, .nav-secondary #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .nav-primary li, .nav-secondary li {
    line-height: 65px;
    padding: 0 10px;
    display: inline-block; }
  .nav-primary a, .nav-secondary a {
    line-height: 65px;
    color: #818e93;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .nav-primary a:hover, .nav-secondary a:hover {
      color: #d3d8da;
      text-decoration: none; }
    .nav-primary a.btn, .nav-primary a[title="button"], .nav-secondary a.btn, .nav-secondary a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .nav-primary a[title="logo"] img, .nav-secondary a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }

.nav-primary li:first-child {
  padding-left: 0 !important; }

.nav-secondary li:last-child {
  padding-right: 0 !important; }

.blue-nav-menu {
  background: #00c3e4;
  height: 60px;
  width: 50%;
  display: inline-block; }
  .blue-nav-menu #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .blue-nav-menu li {
    line-height: 60px;
    padding: 0 10px;
    display: inline-block; }
  .blue-nav-menu a {
    line-height: 60px;
    color: white;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .blue-nav-menu a:hover {
      opacity: 0.8;
      text-decoration: none; }
    .blue-nav-menu a.btn, .blue-nav-menu a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .blue-nav-menu a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }
  .blue-nav-menu ul {
    width: 544px;
    text-align: left;
    float: right; }
  .blue-nav-menu .current-menu-item a {
    color: #008298; }
  .blue-nav-menu .menu {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .blue-nav-menu .menu:before, .blue-nav-menu .menu:after {
      content: " ";
      display: table; }
    .blue-nav-menu .menu:after {
      clear: both; }
    .blue-nav-menu .menu li:first-child {
      padding-left: 0 !important; }

.search-bar {
  background: #00c3e4;
  line-height: 60px;
  height: 60px;
  width: 50%;
  display: inline-block;
  text-align: right; }
  .search-bar aside {
    vertical-align: middle;
    float: left;
    width: 540px;
    background: none;
    margin-bottom: 0; }
    .search-bar aside .widget {
      background: none;
      margin-bottom: 0;
      padding: 0 !important;
      padding: 0 !important; }
      .search-bar aside .widget form {
        width: 300px;
        display: inline-block; }

#cta {
  padding: 80px 0;
  background: #00c3e4;
  margin-bottom: 0;
  margin-top: 80px; }
  #cta h3 {
    padding: 0 0 30px;
    color: white; }

footer {
  padding: 80px 0 80px 0; }
  footer div.menu-vero_footer_second-container, footer div.menu-vero_footer-container {
    display: inline-block;
    vertical-align: top;
    float: right; }
    footer div.menu-vero_footer_second-container li, footer div.menu-vero_footer-container li {
      margin: 0 0 10px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_second-container li.no-hover, footer div.menu-vero_footer-container li.no-hover {
        font-weight: 500;
        text-transform: uppercase; }
  footer div.menu-vero_footer_second-container {
    padding-right: 80px; }
  footer div.menu-vero_footer_third-container {
    float: none;
    display: block;
    vertical-align: top; }
    footer div.menu-vero_footer_third-container ul li {
      display: inline-block;
      padding: 0px 10px 0px 0px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_third-container ul li:first-child {
        margin: 0 0 10px;
        display: block; }
  footer > div ul li.no-hover a {
    font-weight: 500;
    text-transform: uppercase; }
  footer ul.pull-left {
    padding-right: 36px; }
    footer ul.pull-left li {
      padding: 1px 0; }
  footer ul:first-child {
    padding-left: 0 !important; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

label {
  cursor: pointer;
  display: block; }

a {
  color: #00c3e4;
  text-decoration: none; }
  a:hover, a:focus {
    color: #008298;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11px;
  margin-bottom: 11px; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 27px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 13px; }

p {
  margin: 0 0 11px; }
  p span, p time {
    text-transform: uppercase;
    color: #38454a;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5; }

.note {
  color: #555555; }

.highlight {
  padding: 30px 36px;
  margin-top: 30px;
  background: #fbf5dd; }
  .highlight p {
    opacity: 0.8; }
    .highlight p a {
      font-weight: bold;
      opacity: 1; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline, .pagination ul {
  padding-left: 0;
  list-style: none; }

.list-inline, .pagination ul {
  margin-left: -5px; }
  .list-inline > li, .pagination ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.success {
  color: #70a846;
  background: #dbebcf;
  border: 1px solid #bfe2a5;
  color: #70a846; }
  .success a {
    color: #588437; }
    .success a:hover {
      color: #4c7230; }
  .success .btn {
    color: white; }

.info {
  color: #4678b9;
  background: #dae4f1;
  border: 1px solid #b0c8e8;
  color: #4678b9; }
  .info a {
    color: #386094; }
    .info a:hover {
      color: #315481; }
  .info .btn {
    color: white; }

.warning {
  color: #e6bf26;
  background: #fbf5dd;
  border: 1px solid #faeaab;
  color: #e6bf26; }
  .warning a {
    color: #c2a017; }
    .warning a:hover {
      color: #ab8d14; }
  .warning .btn {
    color: white; }

.error {
  color: #b34747;
  background: #efd7d7;
  border: 1px solid #e6adad;
  color: #b34747; }
  .error a {
    color: #8e3939; }
    .error a:hover {
      color: #7c3232; }
  .error .btn {
    color: white; }

#lean_overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: black; }

#blog-popup {
  background: url("http://blog.getvero.com/wp-content/uploads/2014/06/congruent_pentagon.jpg");
  padding: 25px 25px 35px;
  width: 700px;
  border: 15px solid white; }
  #blog-popup h3 {
    font-weight: bold;
    text-align: center;
    color: #38454a; }
  #blog-popup h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px; }
  #blog-popup p {
    font-size: 20px;
    text-align: center;
    margin: 0 0 25px;
    color: white; }
  #blog-popup .button {
    color: #71d54d;
    background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2.png");
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    height: 62px;
    width: 430px !important;
    font-family: Arimo, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0px 5px 0px #d1e1e9;
    border: none;
    text-align: center !important;
    line-height: 40px;
    text-decoration: none;
    padding: 10px 40px 12px 0 !important; }
    #blog-popup .button:hover {
      background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2_hover.png");
      background-color: #71d54d;
      color: white !important; }
  #blog-popup form {
    text-align: center; }
    #blog-popup form input[type='email'] {
      width: 500px;
      clear: both;
      border: 1px solid #d1e1e9;
      padding: 30px 20px;
      border-radius: 3px;
      margin-bottom: 15px !important;
      box-shadow: none;
      font-size: 24px;
      width: 60%;
      display: inline-block; }
    #blog-popup form input[type="email"]:focus {
      outline: none;
      border: 1px solid #52a3cc; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.pull-left + .pull-left {
  margin-left: 10px; }

.pull-right + .pull-right {
  margin-right: 10px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.left-text {
  text-align: left; }

.inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .inner:before, .inner:after {
    content: " ";
    display: table; }
  .inner:after {
    clear: both; }

.hide, .hidden {
  display: none !important; }

.show {
  display: block !important; }

.visible {
  visibility: visible; }

.invisible, .hidden {
  visibility: hidden !important; }

.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  border: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.rotate-r90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.home section {
  padding: 80px 0; }
.home h5, .home .h5, .home h4, .home .h4 {
  text-transform: uppercase;
  color: #38454a; }
.home #top {
  background: url("assets/images/congruent_pentagon.jpg");
  padding-bottom: 0;
  padding-top: 40px; }
  .home #top h1 {
    color: white; }
  .home #top h2 {
    padding: 0 0 10px;
    color: #008298;
    margin-top: 0; }
  .home #top .btn {
    margin: 10px 0; }
  .home #top p {
    color: #006c7e;
    font-size: 80%;
    margin-bottom: 10px; }
    .home #top p:last-child {
      padding: 0;
      margin: 0; }
  .home #top img {
    padding-top: 10px;
    width: 60%;
    vertical-align: bottom; }
.home #feature-one, .home #feature-two {
  color: #818e93; }
  .home #feature-one h3, .home #feature-two h3 {
    padding: 0 0 10px; }
  .home #feature-one ul, .home #feature-two ul {
    padding: 30px 0 30px 36px;
    color: #38454a; }
    .home #feature-one ul li, .home #feature-two ul li {
      text-align: left;
      padding: 5px 0;
      list-style: none;
      padding-left: 25px; }
  .home #feature-one .half, .home #feature-two .half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .home #feature-one .half:last-child, .home #feature-two .half:last-child {
      margin-right: 0; }
    .home #feature-one .half img, .home #feature-two .half img {
      border-radius: 6px;
      border: 5px solid #cccccc; }
  .home #feature-one img.half, .home #feature-two img.half {
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 57px; }
.home #feature-one {
  background: #e4eef2; }
  .home #feature-one ul li {
    background: url("/wp-content/themes/vero/assets/images/tick.jpg") 0 7px no-repeat; }
  .home #feature-one img.half {
    border: 4px white solid; }
  .home #feature-one .quote p, .home #feature-one .quote .p {
    font-size: inherit;
    text-align: center;
    background: white;
    padding: 10px 16px;
    border-radius: 4px;
    display: block;
    position: relative;
    color: #818e93; }
    .home #feature-one .quote p:after, .home #feature-one .quote .p:after {
      display: block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 10px solid white;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      content: " ";
      position: absolute;
      top: 100%;
      bottom: 0;
      left: 70%;
      right: 0; }
  .home #feature-one .quote img {
    width: 60px;
    border-radius: 30px;
    margin-right: 7.5px;
    vertical-align: baseline; }
  .home #feature-one .quote .who {
    color: inherit;
    padding-top: 10px; }
    .home #feature-one .quote .who img {
      border: 5px solid white; }
    .home #feature-one .quote .who a {
      color: inherit; }
  .home #feature-one .quote .who, .home #feature-one .quote a {
    font-size: inherit;
    line-height: 60px;
    vertical-align: top;
    text-align: right; }
  .home #feature-one a img.half {
    margin-right: 2.2% !important; }
.home #feature-two img.half {
  border: 4px #e4eef2 solid; }
.home #feature-two ul li {
  background: url("/wp-content/themes/vero/assets/images/tick-white.jpg") 0 7px no-repeat; }
.home #feature-two .quote p, .home #feature-two .quote .p {
  font-size: inherit;
  text-align: center;
  background: #e4eef2;
  padding: 10px 16px;
  border-radius: 4px;
  display: block;
  position: relative;
  color: #818e93; }
  .home #feature-two .quote p:after, .home #feature-two .quote .p:after {
    display: block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px solid #e4eef2;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: " ";
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 70%;
    right: 0; }
.home #feature-two .quote img {
  width: 60px;
  border-radius: 30px;
  margin-right: 7.5px;
  vertical-align: baseline; }
.home #feature-two .quote .who {
  color: inherit;
  padding-top: 10px; }
  .home #feature-two .quote .who img {
    border: 5px solid #e4eef2; }
  .home #feature-two .quote .who a {
    color: inherit; }
.home #feature-two .quote .who, .home #feature-two .quote a {
  font-size: inherit;
  line-height: 60px;
  vertical-align: top;
  text-align: right; }
.home #case-studies {
  padding-bottom: 0;
  padding-top: 53.33333px;
  background: #e4eef2; }
  .home #case-studies h2 {
    margin-top: 0; }
  .home #case-studies h3 {
    margin-top: 0;
    margin-bottom: 53.33333px;
    color: #818e93; }
  .home #case-studies p {
    padding: 5px 0 30px;
    left: 0; }
  .home #case-studies ul {
    height: 300px;
    display: table;
    width: 100%;
    table-layout: fixed; }
    .home #case-studies ul:before, .home #case-studies ul:after {
      content: " ";
      display: table; }
    .home #case-studies ul:after {
      clear: both; }
    .home #case-studies ul li {
      display: table-cell;
      width: 33.33333%;
      padding: 2.35765%;
      height: 100%;
      vertical-align: bottom;
      position: relative; }
      .home #case-studies ul li span {
        padding: 10px;
        display: block;
        background: #f2f2f2;
        opacity: 0.7;
        font-weight: bold; }
      .home #case-studies ul li p {
        background: rgba(0, 0, 0, 0.6);
        color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 40% 32px 30px;
        bottom: 0; }
        .home #case-studies ul li p .btn {
          margin: 10px 0 0;
          clear: both; }
      .home #case-studies ul li:hover p {
        background: transparent; }
  .home #case-studies #wooga {
    background: url("/wp-content/themes/vero/assets/images/case-studies/wooga/bg.png") no-repeat;
    background-size: 100%; }
  .home #case-studies #sop {
    background: url("/wp-content/themes/vero/assets/images/case-studies/sop/bg.png") no-repeat;
    background-size: cover; }
  .home #case-studies #bugherd {
    background: url("/wp-content/themes/vero/assets/images/case-studies/bugherd/bg.png") no-repeat;
    background-size: 100%; }
.home #customers {
  padding: 30px 0; }
  .home #customers h3 {
    padding: 0 0 30px; }
  .home #customers li {
    display: inline-block;
    height: 45px;
    margin: 0 15px;
    background: url(/wp-content/themes/vero/assets/images/customers-sprite-blue-sml-color-2.png) no-repeat; }
    .home #customers li#beenverified {
      background-position: -159px 0;
      width: 178px; }
    .home #customers li#rackspace {
      background-position: -1263px -2px;
      width: 167px; }
    .home #customers li#posit {
      background-position: 0px 0;
      width: 161px; }
    .home #customers li#wooga {
      background-position: 0px 0;
      width: 142px;
      margin-top: -2px; }
    .home #customers li#stitch {
      background-position: -1097px -2px;
      width: 160px; }
    .home #customers li#hotelscombined {
      background-position: -942px -2px;
      width: 155px; }
    .home #customers li#sop {
      background-position: -688px 0;
      width: 113px; }
    .home #customers li#wave {
      background-position: -337px 0;
      width: 135px; }
    .home #customers li#contactually {
      background-position: -472px 0;
      width: 217px; }
.home #big-quote {
  background: #38454a;
  padding: 40px; }
  .home #big-quote h3 {
    padding: 0 0 30px;
    color: white; }
  .home #big-quote .quote p, .home #big-quote .quote .p {
    font-size: 27px;
    text-align: center;
    background: #818e93;
    padding: 30px 36px;
    border-radius: 4px;
    display: block;
    position: relative;
    color: white; }
    .home #big-quote .quote p:after, .home #big-quote .quote .p:after {
      display: block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 20px solid #818e93;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      content: " ";
      position: absolute;
      top: 100%;
      bottom: 0;
      left: 90%;
      right: 0; }
  .home #big-quote .quote img {
    width: 80px;
    border-radius: 40px;
    margin-right: 10px;
    vertical-align: baseline; }
  .home #big-quote .quote .who {
    color: white;
    padding-top: 13.33333px; }
    .home #big-quote .quote .who img {
      border: 5px solid #818e93; }
    .home #big-quote .quote .who a {
      color: inherit; }
  .home #big-quote .quote .who, .home #big-quote .quote a {
    font-size: 20px;
    line-height: 80px;
    vertical-align: top;
    text-align: right; }
.home #cta {
  margin-top: 0; }
