* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pull-left {
  float: left;
  margin-right: 16px; }

.pull-right {
  float: right;
  margin-left: 16px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px; }
  .pagination ul {
    font-size: 0;
    margin-bottom: 0; }
    .pagination ul li {
      display: inline;
      border: 1px solid #dddddd;
      border-right: 0;
      padding: 6px 12px !important;
      font-size: 16px; }
      .pagination ul li:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .pagination ul li:last-child {
        border-right: 1px solid #dddddd;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .pagination ul li.active {
        background: whitesmoke; }

.blank {
  text-align: center; }
  .blank:hover {
    background: transparent; }
  .blank > td {
    padding: 60px 0; }
    .blank > td h3 {
      margin-bottom: 16px;
      color: #818e93; }
    .blank > td .btn {
      margin-top: 16px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #222222;
  background-color: white;
  min-width: 1024px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.nav-primary, .nav-secondary {
  background: #38454a;
  height: 65px; }
  .nav-primary #logo img, .nav-secondary #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .nav-primary li, .nav-secondary li {
    line-height: 65px;
    padding: 0 10px;
    display: inline-block; }
  .nav-primary a, .nav-secondary a {
    line-height: 65px;
    color: #818e93;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .nav-primary a:hover, .nav-secondary a:hover {
      color: #d3d8da;
      text-decoration: none; }
    .nav-primary a.btn, .nav-primary a[title="button"], .nav-secondary a.btn, .nav-secondary a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .nav-primary a[title="logo"] img, .nav-secondary a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }

.nav-primary li:first-child {
  padding-left: 0 !important; }

.nav-secondary li:last-child {
  padding-right: 0 !important; }

.blue-nav-menu {
  background: #00c3e4;
  height: 60px;
  width: 50%;
  display: inline-block; }
  .blue-nav-menu #logo img {
    height: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 0; }
  .blue-nav-menu li {
    line-height: 60px;
    padding: 0 10px;
    display: inline-block; }
  .blue-nav-menu a {
    line-height: 60px;
    color: white;
    font-family: "proximanova-light-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0; }
    .blue-nav-menu a:hover {
      opacity: 0.8;
      text-decoration: none; }
    .blue-nav-menu a.btn, .blue-nav-menu a[title="button"] {
      margin-top: -5px;
      font-size: 14px;
      text-transform: uppercase; }
    .blue-nav-menu a[title="logo"] img {
      width: 45px;
      height: auto;
      vertical-align: middle;
      margin: -2px 5px 0 0; }
  .blue-nav-menu ul {
    width: 544px;
    text-align: left;
    float: right; }
  .blue-nav-menu .current-menu-item a {
    color: #008298; }
  .blue-nav-menu .menu {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .blue-nav-menu .menu:before, .blue-nav-menu .menu:after {
      content: " ";
      display: table; }
    .blue-nav-menu .menu:after {
      clear: both; }
    .blue-nav-menu .menu li:first-child {
      padding-left: 0 !important; }

.search-bar {
  background: #00c3e4;
  line-height: 60px;
  height: 60px;
  width: 50%;
  display: inline-block;
  text-align: right; }
  .search-bar aside {
    vertical-align: middle;
    float: left;
    width: 540px;
    background: none;
    margin-bottom: 0; }
    .search-bar aside .widget {
      background: none;
      margin-bottom: 0;
      padding: 0 !important;
      padding: 0 !important; }
      .search-bar aside .widget form {
        width: 300px;
        display: inline-block; }

#cta {
  padding: 80px 0;
  background: #00c3e4;
  margin-bottom: 0;
  margin-top: 80px; }
  #cta h3 {
    padding: 0 0 30px;
    color: white; }

footer {
  padding: 80px 0 80px 0; }
  footer div.menu-vero_footer_second-container, footer div.menu-vero_footer-container {
    display: inline-block;
    vertical-align: top;
    float: right; }
    footer div.menu-vero_footer_second-container li, footer div.menu-vero_footer-container li {
      margin: 0 0 10px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_second-container li.no-hover, footer div.menu-vero_footer-container li.no-hover {
        font-weight: 500;
        text-transform: uppercase; }
  footer div.menu-vero_footer_second-container {
    padding-right: 80px; }
  footer div.menu-vero_footer_third-container {
    float: none;
    display: block;
    vertical-align: top; }
    footer div.menu-vero_footer_third-container ul li {
      display: inline-block;
      padding: 0px 10px 0px 0px;
      font-weight: 300;
      font-size: 14px; }
      footer div.menu-vero_footer_third-container ul li:first-child {
        margin: 0 0 10px;
        display: block; }
  footer > div ul li.no-hover a {
    font-weight: 500;
    text-transform: uppercase; }
  footer ul.pull-left {
    padding-right: 36px; }
    footer ul.pull-left li {
      padding: 1px 0; }
  footer ul:first-child {
    padding-left: 0 !important; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

label {
  cursor: pointer;
  display: block; }

a {
  color: #00c3e4;
  text-decoration: none; }
  a:hover, a:focus {
    color: #008298;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 11px;
  margin-bottom: 11px; }

h1, .h1 {
  font-size: 41px; }

h2, .h2 {
  font-size: 34px; }

h3, .h3 {
  font-size: 27px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 13px; }

p {
  margin: 0 0 11px; }
  p span, p time {
    text-transform: uppercase;
    color: #38454a;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5; }

.note {
  color: #555555; }

.highlight {
  padding: 30px 36px;
  margin-top: 30px;
  background: #fbf5dd; }
  .highlight p {
    opacity: 0.8; }
    .highlight p a {
      font-weight: bold;
      opacity: 1; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 11px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline, .pagination ul {
  padding-left: 0;
  list-style: none; }

.list-inline, .pagination ul {
  margin-left: -5px; }
  .list-inline > li, .pagination ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.success {
  color: #70a846;
  background: #dbebcf;
  border: 1px solid #bfe2a5;
  color: #70a846; }
  .success a {
    color: #588437; }
    .success a:hover {
      color: #4c7230; }
  .success .btn {
    color: white; }

.info {
  color: #4678b9;
  background: #dae4f1;
  border: 1px solid #b0c8e8;
  color: #4678b9; }
  .info a {
    color: #386094; }
    .info a:hover {
      color: #315481; }
  .info .btn {
    color: white; }

.warning {
  color: #e6bf26;
  background: #fbf5dd;
  border: 1px solid #faeaab;
  color: #e6bf26; }
  .warning a {
    color: #c2a017; }
    .warning a:hover {
      color: #ab8d14; }
  .warning .btn {
    color: white; }

.error {
  color: #b34747;
  background: #efd7d7;
  border: 1px solid #e6adad;
  color: #b34747; }
  .error a {
    color: #8e3939; }
    .error a:hover {
      color: #7c3232; }
  .error .btn {
    color: white; }

#lean_overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: black; }

#blog-popup {
  background: url("http://blog.getvero.com/wp-content/uploads/2014/06/congruent_pentagon.jpg");
  padding: 25px 25px 35px;
  width: 700px;
  border: 15px solid white; }
  #blog-popup h3 {
    font-weight: bold;
    text-align: center;
    color: #38454a; }
  #blog-popup h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px; }
  #blog-popup p {
    font-size: 20px;
    text-align: center;
    margin: 0 0 25px;
    color: white; }
  #blog-popup .button {
    color: #71d54d;
    background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2.png");
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    height: 62px;
    width: 430px !important;
    font-family: Arimo, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0px 5px 0px #d1e1e9;
    border: none;
    text-align: center !important;
    line-height: 40px;
    text-decoration: none;
    padding: 10px 40px 12px 0 !important; }
    #blog-popup .button:hover {
      background-image: url("http://blog.getvero.com/wp-content/themes/vero-blog-theme-updated/img/buttons/go_to_the_chapter_2_hover.png");
      background-color: #71d54d;
      color: white !important; }
  #blog-popup form {
    text-align: center; }
    #blog-popup form input[type='email'] {
      width: 500px;
      clear: both;
      border: 1px solid #d1e1e9;
      padding: 30px 20px;
      border-radius: 3px;
      margin-bottom: 15px !important;
      box-shadow: none;
      font-size: 24px;
      width: 60%;
      display: inline-block; }
    #blog-popup form input[type="email"]:focus {
      outline: none;
      border: 1px solid #52a3cc; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.pull-left + .pull-left {
  margin-left: 10px; }

.pull-right + .pull-right {
  margin-right: 10px; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.left-text {
  text-align: left; }

.inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .inner:before, .inner:after {
    content: " ";
    display: table; }
  .inner:after {
    clear: both; }

.hide, .hidden {
  display: none !important; }

.show {
  display: block !important; }

.visible {
  visibility: visible; }

.invisible, .hidden {
  visibility: hidden !important; }

.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  border: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.rotate-r90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.pricing section {
  padding: 40px 0; }
.pricing h5, .pricing .h5 {
  text-transform: uppercase;
  color: #38454a; }
.pricing .inline-block {
  display: inline-block; }
.pricing #top h1 {
  color: #38454a; }
.pricing #top ul {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .pricing #top ul:before, .pricing #top ul:after {
    content: " ";
    display: table; }
  .pricing #top ul:after {
    clear: both; }
  .pricing #top ul li {
    display: table-cell;
    width: 33.33333%;
    padding: 2.35765%; }
    .pricing #top ul li img {
      padding: 30px 0 30px; }
.pricing #join {
  position: relative;
  background: #00c3e4;
  padding: 80px 0;
  border-top: 1px solid #5a8399; }
  .pricing #join #period {
    width: 110px; }
  .pricing #join #plan {
    width: 450px; }
  .pricing #join .monthly-price, .pricing #join .yearly-price {
    color: #00c3e4;
    font-weight: bold; }
  .pricing #join .discount {
    color: white;
    background: #e4b91d;
    padding: 6px 6px;
    border-radius: 4px; }
  .pricing #join .high-volume {
    padding-top: 30px;
    width: 100%; }
    .pricing #join .high-volume a {
      display: inline-block;
      color: #38454a;
      margin-left: 6px;
      text-decoration: underline; }
  .pricing #join .join-now {
    margin-top: 30px; }
  .pricing #join .price-box {
    background: white;
    width: 24%;
    padding: 10px 0;
    border-radius: 4px;
    border: 2px solid #5a8399;
    position: absolute;
    top: -20px;
    left: 38%;
    text-align: center; }

.high-volume section {
  padding: 80px 0; }
.high-volume h5, .high-volume .h5, .high-volume h4, .high-volume .h4 {
  text-transform: uppercase;
  color: #38454a; }
.high-volume #top {
  background: #00c3e4;
  position: relative; }
  .high-volume #top h1 {
    color: white; }
  .high-volume #top h2 {
    padding: 0 0 10px;
    margin-top: 0;
    color: #008298; }
.high-volume #high-volume {
  background: #e4eef2; }
  .high-volume #high-volume form .inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .high-volume #high-volume form .inner:before, .high-volume #high-volume form .inner:after {
      content: " ";
      display: table; }
    .high-volume #high-volume form .inner:after {
      clear: both; }
  .high-volume #high-volume form input[type='radio'] {
    display: initial; }
  .high-volume #high-volume form .form-group {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .high-volume #high-volume form .form-group:last-child {
      margin-right: 0; }
    .high-volume #high-volume form .form-group:nth-child(2n) {
      margin-right: 0; }
    .high-volume #high-volume form .form-group:nth-child(2n+1) {
      clear: left; }
    .high-volume #high-volume form .form-group:last-child {
      margin-left: 51.17883%;
      text-align: right; }
  .high-volume #high-volume form label.method {
    display: inline-block;
    margin-right: 10px; }
  .high-volume #high-volume form .error {
    border-color: #ee604c; }
